.agecontainer {
  background-color: #1c1c2b;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.agechart {
  align-self: center;
}
.name {
  align-self: flex-start;
  font-size: 20px;
}
.chart {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cellcontainer {
  display: flex;
}
ul {
  display: flex;
}
.des {
  font-size: 20px;
  font-family: 'Roboto';
}
